body 
{ 
    height: 100%;
    overflow:scroll;
}
.div_header
{
    width:100%;
    background:#6699cc;
    color:#ffffff;
    padding:10px 8px 10px 10px;
    margin-top:10px;
    margin-left:-10px;
    margin-right:-5px;
    
}
.div_logout
{
    float:right; 
    margin-right:20px;
    margin-top:-27px;    
    color:#ffffff;
    text-decoration:none;
}
#div_table
{
    margin-left:300px;
    height:auto;
    padding:15px 15px 15px 15px;
}
#div_table table
{
    border-collapse:collapse;
}
.txt
{
    padding:7px 12px 7px 2px;    
}
.div_post_display
{
    width:20%;
    width:400px;
    border:1px solid #dddddd;
    padding:5px 5px 10px 5px;
    margin:5px 5px 5px 5px;
    overflow:hidden;
    margin-top:20px;    
  
}

.divpostmsg
{
    padding:2px 2px 2px 2px;
    overflow:hidden;
}


.divreader
{  
     width:100%;
}
.divauthor
{
    float:right;
}
.div_log_reg_ribbon
{
    width:100%;
    float:right;
    margin-top:-35px;
    margin-right:20px;
}
.div_log_reg_ribbon table
{
   float:right;
   margin-top:-30px;
}
.div_log_reg_ribbon a
{
    float:right;
    color:#fafafa;
    padding:5px 5px 5px 5px;
}
.div_dashboard
{
    width:200px;
    background:#66cccc;
    float:left;
    margin-top:20px;
}
.div_dahboard table
{
    border-collapse:collapse;
}
.div_dashboard table
{
    width:100%;
}
.div_dashboard table th
{
    width:100%;
    font-family:Verdana Tahoma Times New Roman;
    font-size:2em;
    font-weight:bold;
    color:#990000;
}
.div_dashboard table td, th
{
    border-bottom:1px solid #fafafa;    
    text-align:center;
    padding:10px 10px 10px 10px;
}
.div_dashboard table td a
{
    text-decoration:none;
    font-family:Verdana Tahoma Times New Roman;
    font-size:1.2em;
    font-weight:bold;
    color:#ffffff;
}
.div_dashboard table td a:hover
{
    text-decoration:none;
    font-family:Verdana Tahoma Times New Roman;
    font-size:1.2em;
    font-weight:bold;
    color:#0000cc;
}